/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/09/2013, 16:36:06
    Author     : ebiro_2
*/

#categoria{
    float: left;
    width: 20%;
    border-top: 1px solid #EDEDED;
    margin-bottom: 10px;
}

#categoria a{
    padding-left: 7px;
    font-size: 11px;
    display: block;
    margin: 0;
    padding: 0;
}

#categoria a:hover, #categoria h4:hover{
    color: #ffffff;
    background-color: #ff0000;    
}

#categoria h4{
    color: #6A6A6A;
    font-size: 12px;
}